In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!unzip /content/drive/MyDrive/drive-download-20220703T163439Z-001.zip

Archive:  /content/drive/MyDrive/drive-download-20220703T163439Z-001.zip
  inflating: match_results.json
  inflating: innings_results.json

In [ ]:
import json
# Opening JSON file
#f1 = open('/content/drive/MyDrive/Data/innings_results.json')

f1 = open('/content/innings_results.json')
inn_res = json.load(f1)

In [ ]:
inn_res[:5]

[{'batsman': 'DA Warner',
  'bowler': 'Mohammad Amir',
  'innings': 1,
  'matchid': '1000887',
  'non_striker': 'TM Head',
  'over': '0.1',
  'runs.batsman': 0,
  'runs.extras': 0,
  'runs.total': 0,
  'team': 'Australia'},
 {'batsman': 'DA Warner',
  'bowler': 'Mohammad Amir',
  'innings': 1,
  'matchid': '1000887',
  'non_striker': 'TM Head',
  'over': '0.2',
  'runs.batsman': 0,
  'runs.extras': 0,
  'runs.total': 0,
  'team': 'Australia'},
 {'batsman': 'DA Warner',
  'bowler': 'Mohammad Amir',
  'innings': 1,
  'matchid': '1000887',
  'non_striker': 'TM Head',
  'over': '0.3',
  'runs.batsman': 0,
  'runs.extras': 0,
  'runs.total': 0,
  'team': 'Australia'},
 {'batsman': 'DA Warner',
  'bowler': 'Mohammad Amir',
  'innings': 1,
  'matchid': '1000887',
  'non_striker': 'TM Head',
  'over': '0.4',
  'runs.batsman': 0,
  'runs.extras': 0,
  'runs.total': 0,
  'team': 'Australia'},
 {'batsman': 'DA Warner',
  'bowler': 'Mohammad Amir',
  'innings': 1,
  'matchid': '1000887',
  'non_striker': 'TM Head',
  'over': '0.5',
  'runs.batsman': 0,
  'runs.extras': 1,
  'runs.total': 1,
  'team': 'Australia',
  'wides': 1}]

In [ ]:

mid=[]
oversleft=[]
s=0
runsinover=[]
inn=[]
wickets=[]
w=0
r=0
ab = 0
oend=[]
team=[]
wi=[]

for i in range(len(inn_res)):
  if(i!=len(inn_res)-1):
    ab=float(inn_res[i+1]['over'])-int(float(inn_res[i+1]['over']))
    #print(ab)
  else:
    ab=0
  xy=float(inn_res[i]['over'])-int(float(inn_res[i]['over']))
  #print(xy,ab)
  if(xy >=0.59 and ab<0.11):
    oend.append(i)
    runsinover.append(s)
    oversleft.append(50-int(float(inn_res[i]['over'])))
    inn.append(inn_res[i]['innings'])
    team.append(inn_res[i]['team'])
    if(w>10):
      print(inn_res[i])
    wi.append(10-w)
    s=0
  else:
    s=s+inn_res[i]['runs.total']  
  key='wicket.kind'
  if(50-float(inn_res[i]['over'])==50.0):
    w=0
  if(w==10):
    w=w-10
  if key in inn_res[i]:
    w=w+1

In [ ]:
wi

[10,
 10,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 2,
 1,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 3,
 2,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 1,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 4,
 4,
 4,
 4,
 3,
 2,
 2,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 8,
 8,
 8,
 7,
 7,
 5,
 5,
 4,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 10,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 5,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 5,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 2,
 1,
 1,
 1,
 1,
 10,
 10,
 9,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 9,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 3,
 3,
 2,
 2,
 2,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 1,
 10,
 10,
 10,
 10,
 10,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 5,
 4,
 4,
 3,
 3,
 3,
 3,
 2,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 10,
 9,
 8,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 7,
 7,
 7,
 6,
 6,
 4,
 4,
 4,
 3,
 2,
 2,
 1,
 1,
 ...]

In [ ]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [ ]:
import pandas as pd
df = pd.DataFrame()
df['Team name']=team
df['Wicket left']=wi
df['overs left']=oversleft
df['innings']=inn
df["runs"]=runsinover

In [ ]:
df['Wicket left']=(df['Wicket left']-df['Wicket left'].min())/(df['Wicket left'].max()-df['Wicket left'].min())

In [ ]:
df['overs left']=(df['overs left']-df['overs left'].min())/(df['overs left'].max()-df['overs left'].min())

In [ ]:
df['Team name']= label_encoder.fit_transform(df['Team name'])

In [ ]:
df

        Team name  Wicket left  overs left  innings  runs
0               3          1.0    1.000000        1     1
1               3          1.0    0.979592        1     1
2               3          1.0    0.959184        1     3
3               3          1.0    0.938776        1     6
4               3          0.8    0.918367        1     2
...           ...          ...         ...      ...   ...
185442         20          0.4    0.142857        2     3
185443         20          0.4    0.122449        2     3
185444         20          0.3    0.102041        2     2
185445         20          0.3    0.081633        2     8
185446         20          0.3    0.061224        2     7

[185447 rows x 5 columns]

In [ ]:
import numpy as np
y=np.asarray(df.iloc[:]['runs'])

In [ ]:
df.drop("runs",axis=1,inplace=True)

In [ ]:
x=np.asarray(df)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [ ]:
df.describe()

           Team name    Wicket left     overs left        innings
count  185447.000000  185447.000000  185447.000000  185447.000000
mean       14.222430       0.546558       0.545567       1.456001
std         7.999089       0.287868       0.280339       0.498062
min         0.000000       0.000000       0.000000       1.000000
25%         7.000000       0.300000       0.306122       1.000000
50%        16.000000       0.500000       0.551020       1.000000
75%        21.000000       0.800000       0.795918       2.000000
max        26.000000       1.000000       1.000000       2.000000

# ***XGB Regressor***

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error as MSE

In [ ]:
xgb_r = XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 123)
  
# Fitting the model
xgb_r.fit(X_train, y_train)
  
# Predict the model
pred = xgb_r.predict(X_test)
  
# RMSE Computation
rmse = np.sqrt(MSE(y_test, pred))
print("RMSE : % f" %(rmse))

[10:06:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE :  3.435531

# ***Results on test set***

In [ ]:
dfres=pd.DataFrame()
dfres["actual"]=y_test
dfres["pred"]=pred
dfres

       actual      pred
0           5  2.768431
1          15  4.889626
2           3  2.788318
3           5  3.368644
4           1  2.768431
...       ...       ...
18540       5  3.225768
18541       9  3.831203
18542       3  2.788318
18543       4  2.788318
18544       6  2.788318

[18545 rows x 2 columns]

# ***Random Forest***

In [ ]:
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
 
# fit the regressor with x and y data
regressor.fit(X_train,y_train)

RandomForestRegressor(random_state=0)

In [ ]:
# Predict the model
pred = regressor.predict(X_test)
  
# RMSE Computation
rmse = np.sqrt(MSE(y_test, pred))
print("RMSE : % f" %(rmse))

RMSE :  3.276591

# ***Results on test set***

In [ ]:
dfres=pd.DataFrame()
dfres["actual"]=y_test
dfres["pred"]=pred
dfres

       actual      pred
0           5  5.154439
1          15  7.103030
2           3  4.656770
3           5  4.270129
4           1  2.619317
...       ...       ...
18540       5  6.390892
18541       9  8.741667
18542       3  4.841558
18543       4  4.265740
18544       6  4.223229

[18545 rows x 2 columns]

# ***Light GBM***

In [ ]:
import lightgbm as ltb

In [ ]:
model = ltb.LGBMRegressor()
model.fit(X_train, y_train)

LGBMRegressor()

In [ ]:
pred = model.predict(X_test)
  
# RMSE Computation
rmse = np.sqrt(MSE(y_test, pred))
print("RMSE : % f" %(rmse))

RMSE :  3.129887

In [ ]:
model.get_params()

{'boosting_type': 'gbdt',
 'class_weight': None,
 'colsample_bytree': 1.0,
 'importance_type': 'split',
 'learning_rate': 0.1,
 'max_depth': -1,
 'min_child_samples': 20,
 'min_child_weight': 0.001,
 'min_split_gain': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'num_leaves': 31,
 'objective': None,
 'random_state': None,
 'reg_alpha': 0.0,
 'reg_lambda': 0.0,
 'silent': True,
 'subsample': 1.0,
 'subsample_for_bin': 200000,
 'subsample_freq': 0}

In [ ]:
##tuning of lgbm regressor

model1 = ltb.LGBMRegressor(boosting_type='dart')
model1.fit(X_train, y_train)

pred1 = model1.predict(X_test)
  
# RMSE Computation
rmse1 = np.sqrt(MSE(y_test, pred1))
print("RMSE : % f" %(rmse1))

RMSE :  3.163122

In [ ]:
from sklearn.model_selection import GridSearchCV


params = {
    'num_leaves': [7, 14, 21, 28, 31, 50],
    'learning_rate': [0.1, 0.03, 0.003],
    'max_depth': [-1, 3, 5],
    'n_estimators': [50, 100, 200, 500],
}



grid = GridSearchCV(ltb.LGBMRegressor(random_state=0), params, cv=5)
grid.fit(X_train, y_train)

lgbm_tuned = grid.best_estimator_

rmse_tuned = grid.best_params_

pred2 = grid.predict(X_test)

rmse2 = np.sqrt(MSE(y_test, pred2))
print("RMSE : % f" %(rmse2))

RMSE :  3.129696

In [ ]:
df0.head()

NameError: ignored

# ***Results on test set***

In [ ]:
dfres=pd.DataFrame()
dfres["actual"]=y_test
dfres["pred"]=pred
dfres

## Other Regressors

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor

In [ ]:
lr = LinearRegression()
gbt = GradientBoostingRegressor()
svm = SVR()
adr = AdaBoostRegressor()

In [ ]:
models = [lr,gbt,svm,adr]
scores = []

for model in models:
  model.fit(X_train,y_train)
  pred = model.predict(X_test)
  rmse = np.sqrt(MSE(y_test,pred))
  print("model{}, rmse:{}".format(model, rmse))
  scores.append({model:rmse})

print(scores)